.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    gap: 40px;
    padding: 40px;
    justify-content: center;
}
@media (max-width: 560px) {
    .container {
        grid-template-columns: 100%
    }
}

.search{
    display: flex;
    justify-content: center;
    margin: 50px 0 20px 0;
}

.search input{
    width: 300px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
}

.search button{
    width: 100px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    margin-left: 10px;
    cursor: pointer;
}

.search button:hover{
    background-color: #ccc;
}

